<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>editemailsbeforesend</name>
	<displayName><![CDATA[Edit Emails Before Send]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module aims to edit emails before send using the hook \"actionEmailSendBefore\"]]></description>
	<author><![CDATA[Binshops]]></author>
	<tab><![CDATA[emailing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
